$primary: #202020;
$secondary: #121212;
$white: #fff;
$red-btn: #ED3024;
$blue-btn: #3137C9;


$z-index-sidebar: 999;
$z-index-header: 999;

$sidebar-width: 300px;

$tablet-bp: 1000px;
$mobile-bp: 575px;

