:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Poppins', sans-serif;
	--font-accent: 'Playfair Display', serif;

	--color-black: #000;
	--color-white: #fff;
	--color-dark: #151515;

	--quill-gray: #e5e5e3;
	--color-gray: #858585;

	--color-tundora:#454545;
}

.dark {
    
}