.hero-catalog{
    padding-top: 10rem;
    &__slider{
        overflow: hidden;
        width: 100%;
        background-color: #f8f8f8;
    }

    &__container{
        position: relative;

    }
}

.catalog-slide{
    position: relative;
    padding: 11rem 10rem;

    &__image{
        position: absolute;
        right: 18%;
        bottom: 0;
    }

    &__title{
        max-width: 454px;
        font-weight: 700;
        font-size: 3.6rem;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    &__desc{
        font-size: 1.5rem;
        max-width: 415px;
        font-weight: 500;
        color: var(--color-tundora);
        line-height: 2.8rem;
        margin-bottom: 3rem;
    }

    &__btns{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    &__link{
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 1.5rem 4.3rem;

        &--dark{
            border: solid 1px var(--color-dark);
            color: #f8f8f8;
            background: var(--color-dark);
        }

        &--light{
            border: solid 1px var(--color-dark);
            background: var(--color-white);
            color: var(--color-dark);
            border-color: black;

        }
    }

    
}

.hero-next-btn{
    position: absolute;
    right: 3rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     color: var(--color-dark);
    width: 4.8rem;
    height: 4.8rem;
    border: .2rem  solid var(--color-dark) ;
    transform: translateY(-50%);
    z-index: 20;
    transition: .3s;

    &:hover{
        scale: 1.05;
    }

    img{
        width: 3rem;
        height: 1.6rem;

        &:hover{
        }

    }

}

.hero-prev-btn{
    position: absolute;
    left: 3rem;
    top: 50%;
    width: 4.8rem;
    height: 4.8rem;
    border: .2rem  solid var(--color-dark) ;
    transform: translateY(-50%);
    z-index: 20;
    transition: .3s;


    &:hover{
        scale: 1.05;

    }
}
