.social.social--mobile{
    display: flex;
    
 }

.social{
    display: flex;
    justify-content: center;
    gap: 0.75rem;

    @include breakpoint($tablet-bp){
        display: none;
    }

}

.social:not(:last-child){
}

.social__item{
}

.profile__text{
padding: 3rem 0;
margin: 3rem 0;

    font-size: 1.2rem;
    text-align: center;

    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
}